@model OnlineStoreSara.Models.BillDetail

@{
    ViewData["Title"] = "Manufacturer";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";


}


<!-- End of Topbar -->
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Product</h1>

    </div>
    <!-- Content Row -->



    <div class="row">
        <div class="col-md-6">
            <form asp-action="ViewOrder">
                <input asp-for="billHeaderID" hidden />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                
                    <div class="form-group">
                        <label asp-for="billProduct" class="control-label"></label>
                        <input asp-for="billProduct" class="form-control" />
                        <span asp-validation-for="billProduct" class="text-danger"></span>
                    </div>
                


                @*<div class="form-group">
            <label asp-for="ProductDescription" class="control-label"></label>
            <input asp-for="ProductDescription" class="form-control" />
            <span asp-validation-for="ProductDescription" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ProductPrice" class="control-label"></label>
            <input asp-for="ProductPrice" class="form-control" />
            <span asp-validation-for="ProductPrice" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ProductImageFile" class="control-label"></label>

            <input asp-for="ProductImageFile" accept="image/*" />
            <span asp-validation-for="ProductImageFile" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ProductCategory" class="control-label"></label>
            <select asp-for="ProductCategory" class="form-control">
                <option value=""> Select Cateogry</option>
                <option value="Wood  furniture"> Wood  furniture</option>
                <option value="Industrial waves ">Industrial waves </option>
                <option value="Hand craft">Hand craft</option>
            </select>
            <span asp-validation-for="ProductCategory" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ManufacturerID" class="control-label"></label>
            <select asp-for="ManufacturerID" class="form-control" asp-items="ViewBag.ManufacturerID"></select>
        </div>


        <div class="form-group">
            <input type="submit" value="Update" class="btn btn-primary" />
        </div>*@
            </form>
        </div>
        <div class="col-md-6">

            @*<div class="form-group">
                    <label asp-for="ProductImageFile" class="control-label"></label>
                    @if (Model.ProductImageName != null)
                    {
                        <img src="@("~/Image/" + Model.ProductImageName)" asp-append-version="true" width="25%" />
                    }
                    else
                    {
                        <img src="/Image/1220121174.jpg" asp-append-version="true" width="25%" />
                    }

                </div>*@
        </div>
    </div>







</div>
<!-- /.container-fluid -->
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}